.jump-enter-active {
  animation: jump .5s;
}
.jump-leave-active {
  animation: jump .5s reverse;
}
@keyframes jump {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -3px);
  }
  100% {
    transform: translate(0px, -6px);
  }
}
