:root {
  --white-color: rgba(255, 255, 255, 1);
  --white-color-a: rgba(255, 255, 255, 0.5);
  --bg-color: #22b8b3;
  --hover-animation: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
@import 'fonts';
@import 'animation';
@import 'slider-btn';

html {
  background-color: var(--bg-color);
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#item-wrapper {
  flex-basis: 75%;
  display: flex;
  justify-content: center;
  &::after {
    content: '';
   display: block;
  }
}
.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  &__item {
    float: left;
    border: 3px solid var(--white-color-a);
    border-radius: 50%;
    transition: var(--hover-animation);
    margin: 0 10px;
    &:hover {
      border: 3px solid var(--white-color);
      .slider__item-wrap__img {
        animation: jump .3s;
      }
    }
    &-wrap {
      width: 139px;
      height: 141px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;
    }
  }
}

